<!doctype html>
<html lang="en">

<head>
    <title>Equity Stocks Index</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"  crossorigin="anonymous">
    <style type="text/css">
    body {
        padding-top: 120px;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">Zerodha</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>BSE Stock Price Index</h2>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control form-control-lg" placeholder="Search for a stock eg. ZEE LEARN" value="{{q}}">
                            <span class="input-group-btn">
      
                        <input type="submit" value="Search" class="btn btn-secondary">
                    </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">Open</th>
                            <th scope="col">Close</th>
                            <th scope="col">High</th>
                            <th scope="col">Low</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td>{{ stock.SC_CODE }}</td>
                            <td>{{ stock.SC_NAME }}</td>
                            <td>{{ stock.OPEN }}</td>
                            <td>{{ stock.CLOSE }}</td>
                            <td>{{ stock.HIGH }}</td>
                            <td>{{ stock.LOW }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7"> No Stocks found with that name</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js" ></script>
</body>

</html>